.post-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.post-row:first-child {
  border-radius: 0.5rem 0.5rem 0 0;
  background: rgba(131, 189, 84, 0.5);
  font-weight: bold;
  font-size: 20px;
  text-shadow: 0 2px 1px #fff;
}

.post-cell {
  align-items: center;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.post-delete-button {
  font-size: 20px;
}